* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    text-align: right;
}
nav {
    padding: 15px;   
}
nav a {
    margin-right: 15px;
    color: #fff;
}
nav a:hover {
    border-bottom: 2px solid #fff;
}
nav a:last-child {
    margin-right: 0;
}
main {
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0 60%);
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(#142842,#1d1a36);
    min-height: 100vh;
    max-height: 100vh;
}
.main__title {
    position: absolute;
    top: 50%;
    left: 40%;
    color: #fff;
    z-index: 15;
}
.main__title h2 {
    border-bottom: none;
}
a {
    text-decoration: none;
}
h1 {

    font-size: 5rem;
}
h2 {
    font-size: 3.5rem;
    border-bottom: 0.5px solid #547495;
    padding: 5px;
    width: 80%;
    text-align: center;
    /* margin: 0 auto; */
}
h3 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
/* Skills */
.skill-heading,
.project-heading,
.contact-heading {
    display: flex;
    padding: 1rem;
    justify-content: center;
}
.skill-heading h2,
.project-heading h2,
.contact-heading h2 {
    font-weight: bold;
    /* text-shadow: 4px 4px 0px #3F7FBF;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards; */
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
  
    100% {
        opacity: 1;
    }
}
.skill-section,
.project-section,
.contact-section {
    margin-bottom: 40px;
}
.skill-section__skills,
.project-section__projects {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: 0 auto;
    grid-gap: 1rem;
}
.skill-section__skills {
    grid-gap: 0;
}
.skill-section__title {
    text-align: center;
    position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.skill-section__skills img {
    height: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

/* projects */

.project-section__project {
    overflow: hidden;
    max-width: 300px;
    border-radius: 14px;
    border: 1px solid silver;
}
.project-image {
    overflow: hidden;
    object-fit: cover;
    -o-object-fit: cover;
    min-height: 200px;
    min-width: 253px;
    position: relative;
    vertical-align: middle;
}
.project-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  
.skills-used {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.live-code {
    display: flex;
    justify-content: center;
    align-items: center;
}
.live-code a {
    text-decoration: none;
    color: #000;
}
.live-code a:nth-child(1) {
    margin-right: 10px;
}

.live-code a img,
.contacts a img {
    width: 40px;
    height: 40px;
}
form {
    font: "Times new Roman";
    width: 50%;
    margin: 0 auto;
}
::-webkit-input-placeholder { /* Edge */
    color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
::placeholder {
    color: #fff;
}
textarea {
    min-height: 100px;
}
input,
textarea {
    color: #fff;
    outline: none;
    padding: 10px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: #1e242c;
    font-size: 20px;
    border-radius: 15px;
    font-family: Nunito Sans,sans-serif;
}
input:focus,
textarea:focus {
    border: 2px solid #3F7FBF;
}
form button {
    background-color: #539e43;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
footer {
    padding: 15px;
    background-color: #18223c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
/* Media queries */
@media only screen and (max-width: 900px) {
    .project-section__projects  {
        grid-template-columns: auto auto;
    }
}
@media only screen and (min-width: 775px) {
}
@media only screen and (min-width: 642px) {
    h1 {

        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    .skill-heading h2,
    .project-heading h2,
    .contact-heading h2 {
        font-size: 2rem;
    }
    .skill-section__skills,
    .project-section__projects {
        width: 60%;
    }
  }
  @media only screen and (max-width: 641px) {
    h1 {

        font-size: 2.1rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    .skill-section__skills {
        grid-template-columns: auto auto;
    }
    .skill-section__skills img {
        width: 50%;
    }
    .skill-section__skills,
    .project-section__projects {
        width: 80%;
    }
    .project-section__projects  {
        grid-template-columns: auto;
    }
    .project-section__project {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    form {
        width: 80%;
    }
  }