* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  header {
    position: fixed;
    top: 0;
    right: -10px;
    width: 100%;
    z-index: 20;
}
nav {
    padding: 10px;   
}
nav a {
    display: block;
    margin-bottom: 10px;
}
nav a img {
    width: 60px;
    height: 60px;
}
nav a img:hover {
    cursor: pointer;
    transition: 2s;
    transform: scale(1.5);
}
nav a:last-child {
    margin-bottom: 0;
}
main {
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0 60%);
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(#142842,#1d1a36);
    min-height: 100vh;
    max-height: 100vh;
}
.main__title {
    position: absolute;
    top: 50%;
    left: 40%;
    color: #fff;
    z-index: 15;
}
h1 {

    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}

.skill-heading {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    font-size: 5vw;
    text-shadow: 4px 4px 0px #3F7FBF;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
  }
  
  @keyframes fadeIn {
      0% {
          opacity: 0
      }
  
      100% {
          opacity: 1;
      }
  }

.skill-section__skills {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: 0 auto;
}
.skill-section__title {
    text-align: center;
    position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.skill-section__skills img {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}